  @import url('https://fonts.googleapis.com/css2?family=Almendra+Display&family=Crimson+Text&family=Dhurjati&family=Hedvig+Letters+Sans&family=Montserrat&family=Open+Sans:ital,wght@0,400;1,300;1,400&family=Playfair+Display&family=Rubik+Bubbles&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;

}

header {
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    display: flex;
    padding: 10px 100px;
    width: 100%;
    height: 15vh;
}

span {
    font-weight: 900;
    font-size: 14px;
    border-bottom: 1px solid #241400;
}

.book {
    display: flex;
    align-items: center;
    gap: 8px;
}

nav a {
    font-size: 18px;
    margin: 10px;
    color: #241400;
    text-decoration: none;
}

.search {
    gap: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 10px;
}

input {
    border: none;
    outline: none;
}

.vector {
    gap:10px;
    align-items: center;
    display: flex;
}

.vector > .img1 {
    width: 40px;
}

.img {
    width: 10px;
}

.text {
    align-items: center;
    display: flex;
}

section {
    padding: 10px 100px;
}

#section {
    margin-top: 120px;
    padding: 10px 100px;
    width: 100%;
    height: 80vh;
}

.over {
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    display: flex;
}

.information > .p1 {
    font-size: 50px;
    letter-spacing: 2px;
    color:  #241400;
    font-weight: 700;
}

.information > .p2 {
    letter-spacing: 2px;
    font-weight: 700;
    color: #241400;
    margin-top: 20px;
    font-size: 14px;
}

.information {
    width: 45%;
}

.information > a {
    text-decoration: none;
    margin-top: 40px;
    padding: 18px;
    font-size: 15px;
    font-weight: 900;
    margin-top: 20px;
    background-color: #E16A00;
    color: #fff;
    letter-spacing: 2px;
}

.forma {
    box-shadow: -18px 10px 5px 0px rgba(0,0,0,0.61);
    position: relative;
    width: 602px;
    background-color: #4D2900;
    height: 352px;
}

.forma1 {
    box-shadow: -18px 10px 5px 0px rgba(0,0,0,0.61);
    z-index: -1;
    left: 10%;
    top: -15%;
    position: absolute;
    width: 249.337px;
    height: 104.604px;
    background-color: #4D2900;
}

.forma2 {
    left: 40%;
    top: -10%;
    z-index: -1;
    right: 0;
    position: absolute;
    width:249.337px;
    height:104.604px;
    background-color: #4D2900;
}

.forma > img {
    margin-top: 20px;
    left: -10%;
    position: absolute;
}

.forma3 {
    box-shadow: -18px 10px 5px 0px rgba(0,0,0,0.61);
    bottom: -18%;
    right: 30%;
    position: absolute;
    background-color:#4D2900 ;
    width: 265px;
    height: 74px;
}

#section2 {
    padding: 10px 130px;
    width: 100%;
    height: 250vh;
}

.over2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text1 > h1 {
    letter-spacing: 3px;
    font-size: 25px;
    color: #241400;
}

.text2 > a {
    font-size: 1p6x;
    color: #241400;
    margin: 20px;
    text-decoration: none;
}

.boxes {
    align-items: center;
    justify-content: space-between;
    display: flex;
    gap: 15px;
    margin-top: 90px;
}

.box {
    padding: 20px;
    height: 390px;
    width: 220px;
    box-shadow: -2px 10px 22px 6px rgba(0,0,0,0.15);
    transition: .3s ease;
}

.box:hover {
    transform: scale(1.1);
    box-shadow: -2px 10px 22px 6px rgba(0,0,0,0.37);

}

.box > h1 {
    color: #241400;
}

.box > .p {
    color: #241400;
    font-weight: 900;
}

.box > p {
    color: #241400;
}

.buy {
    gap: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.buy > a {
    font-weight: 900;
    background-color: #E16A00;
    color: #fff;
    letter-spacing: 2px;
    padding: 10px;
    text-decoration: none;
}

.line {
    position: relative;
    width: 20%;
    margin: 100px auto;
    height: 5px;
    background-color: rgb(162, 160, 160);
}

.line2 {
    top: -100%;
    left: 40%;
    position: absolute;
    width: 20%;
    background-color: #4D2900;
    height: 15px;
}

.h1 {
    letter-spacing: 2px;
    font-size: 38px;
    text-align: center;
}

.h2 {
    letter-spacing: 2px;
    margin-top: 120px;
    font-size: 38px;
    text-align: center;
}

.container {
    border-radius: 20px;
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.25);
    width: 242px;
    height: 76px;
    transition: .3s ease;
}

.container > h1 {
    padding-top: 25px;
    text-align: center;
    font-size: 18px;
}

.container:hover {
    transform: scale(1.1);
    background-color: #E16A00;
    color: #fff;
    cursor: pointer;
}

.over4 {
    padding: 20px 150px;
    margin-top: 30px;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3,1fr);
}

.line1 {
    position: relative;
    width: 20%;
    margin: 100px auto;
    height: 5px;
    background-color: rgb(162, 160, 160);
}

.line3 {
    top: -100%;
    left: 0;
    position: absolute;
    width: 20%;
    background-color: #4D2900;
    height: 15px;
}

#information {
    width: 100%;
    height: max-content;
}

#information > h1 {
    margin-top: 60px;
    letter-spacing: 2px;
    font-size: 38px;
    text-align: center;
}

.number {
    gap: 100px;
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.cont1 {
    gap: 20px;
    display: flex;
    align-items: center;
}

.cont1 > h1 {
    font-size: 50px;
}

.cont1 > p {

    font-size: 13px;
}

#dostavka{ 
    width: 100%;
    height: max-content;
}

#dostavka > h1 {
    margin-top: 60px;
    letter-spacing: 2px;
    font-size: 38px;
    text-align: center;
}

#dostavka > p {
    font-size: 14px;
    margin-top: 70px;
    text-align: center;
}

#dostavka > .a2 {
    margin-top: 20px;
    text-align: center;
}

.a2 > a { 
    color: black;
    text-decoration: none;
}

.a2 > a:hover {
    color: #E16A00;
}

#social {
    width: 100%;
    height: max-content;
}

#social > h1 {
    text-align: center;
    margin-top: 60px;
    letter-spacing: 2px;
    font-size: 25px;
    color:#241400;
    font-weight: 900;
}

.social {
    margin-top: 30px;
    text-align: center;
}

footer {
    position: relative;
    padding: 10px 100px;
    margin-top: 90px;
    height: 360px;
    background-color: #391F00;
    width: 100%;
}

.over5 {
    gap: 60px;
    display: flex;
    align-items: center;
    margin-top: 90px;
}

.book2 > p {
    color: white;
   
}

.span2 {
    font-weight: 900;
    font-size: 14px;
    border-bottom: 1px solid white;
}

.book2 {
    cursor: pointer;
    gap: 10px;
    display: flex;
    align-items: center;
}

.population > p {
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.call > p {
    padding-bottom: 20px;
    color: white;
    font-size: 12px;
    font-weight: 900;
}

.call > a {
    padding:5px;
    border: 1px solid #E16A00;
    text-decoration: none;
    font-size: 14px;
    color: #E16A00;
}

.social > img {
    cursor: pointer;
}

.rigts {
    left:25%;
    bottom: 6%;
    position: absolute;
    align-items: center;
    gap: 60px;
    display: flex;
}

.rigts > p {
    color: white;
    font-size: 12px;
}

<!-- 23:19  finished the project -->
